.sidebar {
    margin-top: 0px;
    color: $tundora;
}

.textwidget {
    text-align: justify;
}

.sidebar-page h3 {
    color: $gray;
}

.sidebar-page {
    margin-top: -250px;
    color: $tundora;
    margin-left: 690px;
}

.sidebar-blog {
    margin-top: -610px;
    color: $tundora;
    margin-left: 700px;
}
