$white: #ffffff;
$doveGray: #666666;
$black: #000000;
$mirage: #1c2a39;
$blueZodiac: #0c2745;
$meteor: #d4740d;
$dustyGray: #999999;
$wildSand:f5f4f4;
$silver: #c9c9c9;
$alabaster: #fbfbfb;
$mercury:#e6e6e6;
$chathamsBlue: #173f6b;
$blackPearl: #091f37;
$mineShaft: #222222;
$tundora: #444444;
$gray: #888888;
$yellow: #FFFF00;
